<div class="cars-title">
    <h2>Cars Show</h2>
</div>
<div class="view-cars-container">
    <table class="table table-striped">
        <tbody>
            <th *ngFor="let headerName of tableRowHeader">
                {{headerName | uppercase}}
            </th>
            <th class="del">Del</th>
            <th class="upt">Upd</th>
            <tr *ngFor="let carsInfor of carsInfor">
                <td *ngFor="let columnName of columnName">
                    {{carsInfor[columnName]}}
                </td>
                <td>
                    <a (click)="removeCar(carsInfor)" href="javascript:void(0)">delete</a>
                </td>
                <td>
                    <a (click)="showModalPopup(carsInfor)" href="javascript:void(0)">update</a>
                </td>
            </tr>
        </tbody>
    </table>

    <app-app-modal *ngIf="showModal" (needUpdate)="setUpdtFlag($event)" (updatedCarsdata)="updateCarsInfor($event)" [newId]="newId" [uptCarsInfo]="uptCarsInfo" [isUpdt]="isUpdt" (close)="closeModalPopup($event)"></app-app-modal>
    
    <div class="footer-btn">
        <input (click)="setNewCarId()" class="btn btn-success" type="button" name="add" value="Add New Car">
        <!-- <input style="margin: 0 10px;" class="btn btn-primary" type="button" name="confirm" value="Confirm"/>
        <input class="btn btn-info" type="button" name="cancel" value="Cancel"> -->
    </div>
</div>