.view-cars-container {
    width: auto;
    max-width: 80%;
    height: auto;
    position: relative;
    margin: 0 auto;
    top: 130px;

    .del{
        background: url('../images/del.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    .upt {
        background: url(../images/edit.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .footer-btn{
        display: flex;
        position: absolute;
        left: 40%;
        flex-direction: row;
        justify-content: center;
    }
}

.cars-title {
    position: absolute;
    display: block;
    padding: 20px 30px;
    left: 40%;
}